{% extends 'magnata_app/base.html' %}
{% block title %} Magnata - Promoção {% endblock %}
{% load static %}
{% block body %}
    <div class="servico-info d-flex justify-content-center my-5">
        <div class="shadow p-3">
            <div class="d-flex flex-column">
                <div class="d-flex flex-column align-items-center mb-5">
                    <h2 class="mb-3">{{ promocao.servico.nome }}</h2>
                    <img src="{{ promocao.servico.imagem.url }}" class="servico-info-img">
                </div>
                <div>
                    <h4>Sobre a promoção:</h4>
                    <p class="text-center">{{ promocao.descricao }}</p>
                    <h5>Sobre o serviço:</h5>
                    <p class="text-center">{{ promocao.servico.descricao }}</p>
                </div>
                <div class="d-flex justify-content-sm-around mt-auto">
                    <p>Tipo de serviço: <span class="badge text-bg-success">{{ promocao.servico.categoria }}</span></p>
                    <p>Interno ou externo: <span class="badge text-bg-success">{{ promocao.servico.tipo_servico }}</span></p>
                </div>
                <div class="d-flex flex-row justify-content-center align-items-center mt-4 mt-auto">
                    <p class="fs-5 mx-3 text-decoration-line-through">De: R$ {{ promocao.servico.preco_base }}</p>
                    <p class="fs-3 mx-3">Por: R$ {{ promocao.preco_promocao }}</p>
                </div>
                <p class="text-center">Promoção válida até: {{ promocao.valido_ate }}</p>
            </div>
            <div class="text-center mt-3">
                <h5>Mais informações</h5>
                <div class="d-flex justify-content-center my-4">
                    <a href="{% url 'contato' %}" class="mx-3">
                        <img src="{% static 'images/mail.png' %}" alt="">
                    </a>
                    <a href="https://wa.me/5524999492709?text=Teste" target="_blank" class="mx-3">
                        <img src="{% static 'images/whatsapp.png' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}