{% extends 'magnata_app/base.html' %}
{% block title %} Magnata - {{ servico.nome }} {% endblock %}
{% load static %}
{% block body %}
    <div class="servico-info d-flex flex-column align-items-center my-5">
        <div class="shadow p-3">
            <div class="d-flex flex-column">
                <div class="d-flex flex-column align-items-center mb-5">
                    <h2 class="">{{ servico.nome }}</h2>
                    <img src="{{ servico.imagem.url }}" class="servico-info-img">
                    {% if servico.video %}
                        <div class="servico-info-video d-flex w-100 justify-content-center mt-5">
                            <video controls src="{{ servico.video.url }}"></video>
                        </div>
                    {% endif %}
                </div>
                <div>
                    <h4>Sobre o serviço:</h4>
                    <p class="text-center">{{ servico.descricao }}</p>
                </div>
                <div class="d-flex justify-content-sm-around mt-auto">
                    <p>Tipo de serviço: <span class="badge text-bg-success">{{ servico.categoria }}</span></p>
                    <p>Interno ou externo: <span class="badge text-bg-success">{{ servico.tipo_servico }}</span></p>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center mt-4 mt-auto">
                    <p class="fs-5">À partir de: R$ {{ servico.preco_base }}</p>
                </div>
            </div>
            <div class="text-center mt-3">
                <h5>Mais informações</h5>
                <div class="d-flex justify-content-center my-4">
                    <a href="{% url 'contato' %}" class="mx-3">
                        <img src="{% static 'images/mail.png' %}" alt="">
                    </a>
                    <a href="https://wa.me/5524999492709?text=Teste" target="_blank" class="mx-3">
                        <img src="{% static 'images/whatsapp.png' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="d-flex w-75 justify-content-center mt-5">
            <a href="{% url 'index' %}" class="btn btn-dark">Início</a>
        </div>
    </div>
{% endblock body %}