{% extends 'magnata_app/base.html' %}
{% load static %}
{% block body %}

<main class="d-flex flex-column">
  {% if promocoes %}
    <h2 class="h2-underline">Em promoção</h2>
    <div class="d-flex promocoes">
      {% for promocao in promocoes %}
        <div class="card shadow">
          <img src="{{promocao.tipo_servico.image.url}}" class="card-img-top" alt="...">
          <div class="d-flex card-body flex-column">
            <h3>{{promocao.tipo_servico.nome}}</h3>
            <p>{{promocao.descricao}}</p>
            <div class="d-flex preco mt-auto justify-content-between align-items-center">
              <p>
                De R$<span class="text-decoration-line-through">{{promocao.tipo_servico.preco_base}}</span>
                por R$<span>{{promocao.preco_promocao}}</span>
              </p>
              <div class="btn btn-secondary bg-color-dark">Saiba mais</div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  {% if servicos %}
    <h2 class="h2-underline">Nossos serviços</h2>
     <div class="d-flex promocoes">
      {% for servico in servicos %}
        <div class="card shadow">
          <img src="{{servico.image.url}}" class="card-img-top" alt="...">
          <div class="d-flex card-body flex-column">
            <h3>{{servico.nome}}</h3>
            <p>{{servico.descricao}}</p>
            <div class="d-flex preco mt-auto justify-content-between align-items-center">
              <p>
                À partir de R$<span class="text-decoration-line-through">{{servico.preco_base}}</span>
              </p>
              <div class="btn btn-secondary bg-color-dark">Saiba mais</div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</main>

<h3 class="m-5 text-center">Onde estamos</h3>
<div class="mapa d-flex w-100 justify-content-center mb-5">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12042.264350579097!2d-44.16486157147862!3d-22.538148945865284!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9e99e7574908c9%3A0x1232279f4114807f!2sMagnata%20Est%C3%A9tica%20Automotiva!5e0!3m2!1spt-BR!2sbr!4v1680886760078!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endblock body %}