{% extends 'magnata_app/base.html' %}
{% block title %} Magnata - Contato {% endblock %}
{% load static %}
{% block body %}
  {% if enviado == 'sucesso' %}
    <script>
      window.alert('Mensagem enviada com sucesso!')
    </script>
  {% elif enviado == 'erro' %}
      <script>
        window.alert('Ocorreu um erro interno. Tente mais tarde :(')
      </script>
  {% endif %}
  <div class="d-flex flex-column my-5 w-100 align-items-center">
    <h3>Entre em contato</h3>
    <form class="form-contato" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="d-flex mt-3 justify-content-end">
        <button type="submit" class="btn btn-outline-dark mx-3">Enviar mensagem</button>
        <a href="{% url 'index' %}" class="btn btn-outline-secondary">Cancelar</a>
      </div>
    </form>
  </div>
  <script src={% static 'scripts/jquery-3.6.4.min.js' %}></script>
  <script src={% static 'scripts/jquery.mask.min.js' %}></script>
  <script src={% static 'scripts/mascaras-formatacao.js' %}></script>
{% endblock body %}