@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

header {
    height: 150px;
    overflow: visible;
}

img {
    border-radius: 50%;
    height: 200px;
}

.magnata-visual > div > h1 {
    font-family: 'Meie Script', cursive;
    font-size: 3.5em;
}

.magnata-visual > div > h2 {
    font-size: 1.5em;
}

nav > ul {
    list-style: none;
}

nav > ul > li > .nav-link:hover {
    color: #adb5bd  !important;
    transition: 1s;
}

.fa-brands {
    margin: 5px;
    padding: 10px;
    border: 1px solid;
    border-radius: 50%;
    color: #eee;
}

.fa-brands:hover {
    background-color: #eee;
    color: #222;
    transition: 0.8s;
}

.copy-info {
    border-top: 1px solid #aaa;
    width: 80%;
}

.copy-info > span > a {
    color: #aaa;
}