/* Header */
header {
    height: auto;
    flex-direction: column !important;
}

header > d-flex {
    flex-direction: row;
    padding: 5px 0 5px 0;
    width: 100%;
    align-items: center;
    justify-content: space-around !important;
}

.logo-img {
    margin-top: 0 !important;
    margin-left: 0;
    height: 85px;
    width: 85px;
}

.magnata-visual {
    width: 100%;
}

.magnata-visual > div > h1 {
    font-size: 1.8em;
    margin-left: 5px;
}

.magnata-visual > div > h2 {
    font-size: 0.7em;
    letter-spacing: 0.15em;
    margin-left: 5px;
}

i#burguer {
    display: flex;
    font-size: 2em;
}

#itens {
    display: none;
}

nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav > menu > ul {
    flex-direction: column;
    margin-right: 0;
    align-items: center;
}

nav > menu > ul > li {
    text-align: center;
    padding-right: 30px;
    padding-bottom: 10px;
}

/* Footer */
.copy-info {
    flex-direction: column;
    text-align: center;
}

.privacy {
    font-size: 0.9em;
}

footer > div > .d-flex > h5 {
    visibility: hidden;
}

.fa-brands {
    font-size: 2em !important;
}

/* Index */
main {
    width: 100%;
}

.promocoes {
    flex-direction: column;
}

.promocoes > .card {
    width: 100% !important;
    margin-bottom: 15px;
}

.promocoes > .card > img {
    opacity: 1;
    height: 200px;
}

.promocoes > .card > .card-body > .preco {
    flex-direction: column;
}

.promocoes > .card > .card-body > .preco > p {
    font-size: 1.2em;
}

.mapa > iframe {
    width: 90%;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.servico-info > div {
    width: 95%;
}

.servico-info-video > video {
    max-width: 100%;
}

/* Serviços */
.servicos {
    align-items: center;
    flex-direction: column;
}

.servicos > .card {
    margin: 0;
    width: 90% !important;
    opacity: 1;
}

/* Contato */
.form-contato {
    width: 90%;
}